:root {
    --branco: #ffffff;
    --cor-de-fundo: #8d4ab4;
    --fundo-senha: #f2bfff;
    --fundo-texto: rgb(193, 2, 211);
    --borda: #b77bda;
}

* {
    font-weight: 700;
}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}

.titulo_principal {
    font-family: var(--fonte);
    font-size: 32px;
}

.titulo_secundario {
    font-size: 24px;
}

.conteudo_titulo {
    text-align: center;
    margin-top: 80px;
}

.cadeado_conteudo {
    width: 100px;
}

.conteudo_senha {
    margin-top: 80px;
    background: var(--fundo-senha);
    padding: 24;
    border-bottom: 6px solid var(--borda);
    font-size: 25px;
}

#campo_senha {
    background-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-size: 40px;
    width: 70%;

}

#campo_senha:focus{
    outline: none;
}

.conteudo_senhas {
    max-width: 1200px;
    margin: 0 auto;
}